<section class="card-section">
  <header class="card-header">
    <h5>Login</h5>
  </header>

  <form class="login-form">
    <div>
      <label for="user-login">Username</label>
      <input type="text" class="form-input" id="user-login">
    </div>
    <div>
      <label for="password-login">Password</label>
      <input type="password" class="form-input" id="password-login">
    </div>
    <div>
      <button type="submit" id="login-btn">Login!</button> <!-- add css class-->
    </div>
  </form>

  <a href="/signup">Sign Up Instead</a> <!-- add css class-->
</section>

<script src="./js/login.js"></script>
