<section class="card-section">
  <header class="card-header">
    <h5>New Post</h5>
  </header>

  <form class="new-form">
    <div>
      <label for="new-title">Title</label>
      <input type="text" class="form-input" id="new-title">
    </div>
    <div>
      <label for="new-content">Content</label>
      <textarea class="form-input" id="new-content"></textarea>
    </div>
    <div>
      <button type="submit" id="new-btn">Create Post!</button> <!-- add css class-->
    </div>
  </form>

</section>

<script src="./../js/newpost.js"></script>
