<section class="signup-section">
  <header class="signup-header">
    <h5>Signup</h5>
  </header>

  <form class="signup-form">
    <div>
      <label for="user-signup">Username</label>
      <input type="text" class="form-input" id="user-signup">
    </div>
    <div>
      <label for="password-signup">Password</label>
      <input type="password" class="form-input" id="password-signup">
    </div>
    <div>
      <button type="submit" id="signup-btn">Signup!</button> <!-- add css class-->
    </div>
  </form>

  <a href="/login">Login Instead</a> <!-- add css class-->

</section>

<script src="./js/signup.js"></script>