{{> post-details post}}

{{#if logged_in}}
<section class="card-section">
  <form class="comment-form">
    <div>
      <label for="comment-input">Add comment here...</label>
      <textarea class="w-100" id="comment-input"></textarea>
    </div>
    <div>
      <button type="submit" id="comment-btn">Add Comment</button>
    </div>
  </form>
</section>
{{/if}}

{{#if post.comments.length}}
  {{#each post.comments as |comment|}}
    {{>comment-details}}
  {{/each}}
{{/if}}

<script src="./../js/comment.js"></script>

