{{> post-details}}

{{#if logged_in}}
<form class="comment-form">
  <textarea id="comment-input"></textarea>
  <button type="submit" id="comment-btn">Add Comment</button> <!-- add css class-->
</form>
{{/if}}

{{>comments}}

<script src="./../public/js/comment.js"></script>

